body {
  animation: autoColorChanger 20s ease-in-out infinite;
}
@keyframes autoColorChanger {
  0% {
    background-color: rgb(39, 142, 233);
  }
  10% {
    background-color: rgb(165, 10, 12);
  }
  20% {
    background-color: rgb(13, 0, 111);
  }
  30% {
    background-color: rgb(253, 135, 0);
  }
  40% {
    background-color: rgb(70, 64, 255);
  }
  50% {
    background-color: rgb(253, 36, 3);
  }
  60% {
    background-color: rgb(6, 37, 240);
  }
  70% {
    background-color: rgb(255, 136, 1);
  }
  80% {
    background-color: rgb(18, 210, 181);
  }
  90% {
    background-color: rgb(0, 140, 7);
  }
  100% {
    background-color: rgb(105, 1, 16);
  }
}
